*
{
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
    
}
body
{
    background-color: blueviolet;
    display: flex;
    
}
.menu
{
    width: 60px;
    height: 100vh;
    background-color: #2c3e50;
   padding: 20px;
   overflow: hidden;
 
}
ul
{
    list-style: none;
    position: relative;
    height: 95%;
   
}
ul li a
{
    display: block;
    text-decoration: none;
    
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .10s;

}
ul li a:hover,.active ,.data-info .box:hover
{
    background-color: rgba(255, 255, 255, 0.486);
    font-size: 25px;
    cursor: pointer;
}
.logout
{
    position: absolute;
    bottom: 20px;
    width: 100%;

}
.logout a:hover
{
    background-color: red;
    color: white;
}
ul li a i 
{
    font-size:30px;
}
.user-img
{
    width: 50px;
    height: 50px;   
    border-radius: 100% solid 3px white;
    overflow: hidden;
    flex-shrink: 0;
    
}
.user-img img
{
    width: 100%;
    border-radius: 50% solid 3px white;
    
    
    
}
.profile
{
    display: flex;
    align-items: center;
    gap: 30px;
}
.profile h2
{
    font-size: 20px;
 text-transform: capitalize;
    
}
.menu:hover
{
    width: 260px;
    transition: .5s;
}
.content
{
   width: 100%;
    padding: 20px;
    background: rgb(18, 1, 66);
}
.title-info
{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    background-color: blue;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}
.data-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.data-info .box
{
   background-color: #123;
   height: 150px;
   flex-basis: 150px;
   flex-grow: 1;
   border-radius: 8px;
   display: flex;
   align-items: center;
   justify-content: space-around;

}
.data-info .box i
{
font-size: 40px;
}
@media (max-width: 768px) {

  .container {
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 90%;
  }

}