@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.logo 

{


    width: 100px;
    border-radius: 50%;
    margin-right: 1120px;
    margin-top: -54px;
    margin-left: 20px;

}
.name{
    
    margin:  7px 38px 28px 0px;
}
nav{
color: white;
text-align: right;
width: 100%;

}
header{
    background-color: rgb(255, 0, 0);
    background: linear-gradient(to bottom, red, white);
    height: 120px;
    width: 100%;
    padding: 0px 0;
    background-attachment: scroll;
    
}


.poul
{
    background-color:rgb(255, 255, 255);
    width: 200px;
    height: 280px;
   margin-top: 27px;
    margin-left: 304px;
    border: 2px solid black;

}
.cow{
 background-color:rgb(255, 255, 255);
    width: 200px;
    height: 280px;
   margin-top: -284px;
    margin-left: 540px;
    border: 2px solid black;
    

}
.chicks
{
 background-color:rgb(255, 255, 255);
    width: 200px;
    height: 280px;
   margin-top: -284px;
    margin-left: 775px;
    border: 2px solid black;

}
.poul_img
{
    width: 200px;
    height: 250px;

}
.cow_img
{
    width: 200px;
    height: 250px;
}
.chicks_img
{
        width: 200px;
    height: 250px;
}
.poul_btn
{
    width: 200px;
    height: 30px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-top:-4px ;

}
.cow_btn
{
    width: 200px;
    height: 30px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-top:-4px ;

}
.chicks_btn
{
 width: 200px;
    height: 30px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-top:-4px ;

}
span
{
     color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    font-size: 40px;
    text-align: right;
    margin: 0 25px 0 0;
    
}
footer{
    background-color: rgb(255, 0, 0);
    color: white;
    text-align: center;
    padding: 0px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.mother
{
    object-fit: cover;
    transition: .3s ease;
}
.delta_img
{
    width:80px;
 margin: 8px 0 0 32px;
    position: fixed;
    border-radius: 50%;
}
.price
{
    margin-left: 1100px;
    width: 180px;
    height: 400px;
    background-color: rgb(255, 0, 0);
    padding: 10px;
    margin-top: -300px;
    margin-bottom: 200px;
    margin-right: 0px;
    color: white;
    font-size: 20px;
}